{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    body {
        font-family: Verdana, sans-serif;
        background-color: #A53860;
        color: #DAB6C4;
        text-align: center;
        margin: 20px; 
    }

    h1 {
        font-family: Verdana, sans-serif;
        font-weight: bold;
        color: #DAB6C4;
    }

    .custom-form {
        font-family: Verdana, sans-serif;
        font-weight: bold;
        color: #60435F;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        background-color: #DAB6C4;
        border-radius: 10px;
    }

    .btn-custom {
        font-family: Verdana, sans-serif;
        background-color: #DAB6C4;
        color: #60435F;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn-custom:hover {
        background-color: #60435F;
        color: #FFF0F5;
    }

    .form-control {
        font-family: Verdana, sans-serif;
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid #4A7C59;
        border-radius: 5px;
        background-color: #CAE7B9;
        color: #60435F;
        outline: #FFFFFF;
    }

    .form-control:focus {
        border-color: #4A7C59;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        font-family: Verdana, sans-serif;
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid #4A7C59;
        border-radius: 5px;
        background-color: #CAE7B9;
        color: #60435F;
        outline: none;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    textarea:focus {
        border-color: #4A7C59; 
    }

    input[type="submit"] {
        font-family: Verdana, sans-serif;
        background-color: #DAB6C4;
        color: #60435F;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

</style>

<h1>Edit Item</h1>

<form method="POST" class="custom-form needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    
    <button type="submit" class="btn btn-custom">Edit Item</button>
</form>

{% endblock %}
