* {
    font-family: Verdana;
}

h1 {
    color:#A53860;
    text-align: center;
}

h5 {
    color:#4A7C59;
}

p {
    color:#60435F;
}

footer {
    background-color: #C0C0C0;
    position: absolute;
    bottom: 0; 
    width: 100%;
    padding: 10px;
}
