{% extends 'base.html' %}

{% block content %}
{% block meta %}
    <title>My Wardrobe</title>
{% endblock meta %}

<style>
    body {
        font-family: Verdana, sans-serif;
        background-color: #DAB6C4;
        color: #4A7C59;
        text-align: center;
        margin: 20px;
    }

    h1 {
        font-family: Verdana, sans-serif;
        color: #A53860;
        text-align: center;
    }

    p {
        font-family: Verdana, sans-serif;
        color: #60435F;
    }

    table {
        font-family: Verdana, sans-serif;
        color: #60435F;
        margin: 0 auto;
    }

    table th {
        background-color: #A53860;
        color: #FFF0F5;
        font-weight: bold;
    }

    table th, table td {
        padding: 10px;
        border: 1px solid #A53860;
    }

    a {
        text-decoration: none;
    }

    button {
        font-family: Verdana, sans-serif;
        background-color: #60435F;
        color: #FFF0F5;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        margin: 5px;
    }

    button:hover {
        background-color: #A53860;
        color: #DAB6C4;
    }

    footer {
        font-family: Verdana, sans-serif;
        color: #4A7C59;
        background-color: #CAE7B9;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }

</style>


<body>
    <h1>{{ app }}</h1>
    <p>This will be an app that manages the clothes in {{ app }}</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>In Laundry?</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.in_laundry }}</td>
            </tr>
        {% endfor %}
    </table>

    <br/>

    <a href="{% url 'main:create_product' %}">
        <button>Add New Item</button>
    </a>

    <br/>

    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>

    <br/>

    <h5>Last entered MyWardrobe: {{ last_login }}</h5>
</body>

<footer>
    <h5>Made by:</h5>
    <p>{{ name }}'s Wardrobe</p>
</footer>
{% endblock content %}

