<!DOCTYPE html>
<html>
    <head>
        <title>
            My Wardrobe
        </title>
        <link rel="stylesheet" type="text/css" href="main_style.css">
        <link rel="icon" href="main/logoMyWardrobe.png" type="image/x-icon">
    </head>

    <body>
        <h1>{{ app }}</h1>
        <p>This will be an app that manages the clothes in {{app}}</p>
    </body>
    
    <footer>
        <h5>
            Made by:
        </h5>
        <p style="color:#CAE7B9;">
            {{ name }} from {{ class }}
        </p>
    </footer>
</html>